###########################################################################
#    .
#   /|\
#  / |/\
# | \|'.|
# \.'|/ /
#  \'|'/
#   `|´
#    |
# This file was written by Steve "Grasseh" Gagné and can be reused for free.
# It contains personal git configurations
############################################################################
[user]
    name = Grasseh
    email = steve@grasseh.com
    signingkey = 4722A605132D68C0
[color]
    ui = true
    branch = auto
    diff = auto
    status = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = green bold
    changed = red bold
    untracked = cyan
[core]
    editor = vim
    excludesfile = ~/.gitignore_global
[merge]
    ff = false
[push]
    default = current
[commit]
    gpgsign = true
