###########################################################################
#    .
#   /|\
#  / |/\
# | \|'.|
# \.'|/ /
#  \'|'/
#   `|´
#    |
# This file was written by Steve "Grasseh" Gagné and can be reused for free.
# It contains personal git configurations
############################################################################
[user]
    name = Steve Gagné
    email = steve@grasseh.com
	signingkey = BAE2B9A7E4F28908
[color]
    ui = true
    branch = auto
    diff = auto
    status = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = green bold
    changed = red bold
    untracked = cyan
[core]
    editor = vim
    excludesfile = ~/.gitignore_global
	hooksPath = /githooks
[merge]
    ff = false
[push]
    default = current
[commit]
	gpgsign = true
